{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": [
		[
			"import",
			{
				"libraryName": "@babel/plugin-proposal-class-properties"
			}
		],
		[
			"import",
			{
				"libraryName": "babel-plugin-import"
			},
			"pluginImport"
		]

		/*"babel-plugin-import"*/
	]
}
